name: Terraform workflow
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:
    inputs:
      environment:
        description: 'terraform action'
        required: true
        default: 'staging'
        type: choice
        options:
          - plan
          - apply
    
jobs:
  terraform:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}
    
      - name: Get project value
        run: |
            PROJECT_ID=$(gcloud config get-value project)
            echo "PROJECT_ID=$PROJECT_ID" >> $GITHUB_ENV

      - name: Generate a random bucket name
        run: |
            echo "BUCKET_NAME=madura-state-bucket-$PROJECT_ID" >> $GITHUB_ENV

      - name: Check and Create GCS Bucket for Terraform State
        run: |
            if gcloud storage buckets list --project=$PROJECT_ID | grep madura-state-bucket; then
                echo "Bucket exists"
            else
                echo "Bucket does not exist"
                gcloud storage buckets create gs://madura-state-bucket --location=us-central1 --project=$PROJECT_ID
            fi
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.0
        #   cli_config_credentials_token: ${{ secrets.TF_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        if: ${{ github.event.inputs.environment == 'plan' }}
        run: terraform plan -var="gcp_project_id=$PROJECT_ID" -out=tfplan

      - name: Terraform Apply
        if: ${{ github.event.inputs.environment == 'apply' }}
        run: terraform apply -var="gcp_project_id=$PROJECT_ID" -auto-approve
